.navbar {
    background-color: #82e0aa;
}

body {
    font-size: 17px;
    color: white;
}

.margin {
    padding-top: 15px;
    padding-bottom: 10px;
}

.quem-somos {
    background-color: rgba(107, 77, 160, 0.975);
}

.quem-somos img {
    margin: 10px 0 30px;
}

.parceiros {
    background-color: rgb(197, 111, 147);
}

.areas-de-atuacao {
    background-color: rgb(105, 203, 241);
}

.bg-footer {
    background-color:black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}