body {
    font-size: 17px;
    color: white;
}

.navbar {
    background-color: #82e0aa;
}

.quem-somos {
    background-color: rgba(107, 77, 160, 0.975);
}

.quem-somos img {
    margin: 10px 0 30px;
}

.margin {
    padding-top: 50px;
    padding-bottom: 10px;
}

.parceiros {
    background-color: rgb(197, 111, 147);
}